<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatiblee" content="ie=egde">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@5.1.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <page size="A4">
        <div class="container">
        <nav>
            <img class="userPic" src="/image/profile.jpg" alt="profile picture">
            <div class="userDetails">
                <h1>Quang</h1>
                <h1>Tran</h1>
                <span>Computer Scientist</span>
            </div>
            
            <div class="address" title="Click to know where I live">
                <a href="https://goo.gl/maps/WA2PLQVmh5C6CedD6" target="_blank" class="address" value="OK" type="button" onclick="address()">
                    <ion-icon name="home-outline"></ion-icon>
                </a>
            </div>

        <div class="phone" title="Click to call me!" >
            <a class="phone" value="OK" type="button" href="tel:7144945693" target="_blank">
                <ion-icon name="phone-portrait-outline"></ion-icon>
            </a> 
        </div>
            
        <div class="email" title="Click to email me!">
           <a class="email" value="OK" type="button" href="mailto:andrewtran6789@gmail.com" target="_blank">
                <ion-icon name="mail-outline"></ion-icon>
            </a>
        </div>
    
        </nav>
    </div>

    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <div class="pagebody">
    <span style="font-family: "Times New Roman",sefrif">
    <span style="color: rgb(121, 75, 75)"><h2>Education</h2></span>
    <p><strong>Bachelor of Science:</strong> Computer Science - Minored in Math Statistics.&emsp;&emsp;<i>Dec 2020</i>
    <br>&emsp;<i>o&emsp;University of Houston – Houston, TX.</i></p>
    <p><strong>Associate of Science</strong>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i>May 2017</i>
       <br>&emsp;<i>o&emsp;Lone Star College – Spring, TX.</i></p>
    <hr>
    <span style="color: rgb(121, 75, 75)"><h2>Relevant CourseWork</h2></span>

    <table>
 		<tbody>
 			<tr>
 				<td>•&emsp;Algorithms</td>
 				<td>•&emsp;Automata</td>
 			</tr>
 			<tr>
 				<td>•&emsp;Operating system</td>
 				<td>•&emsp;Software Engineering</td>
 			</tr>
            <tr>
                <td>•&emsp;Computer Networks</td>
                <td>•&emsp;Software Design</td>
            </tr>
            <tr>
                <td>•&emsp;Data Science</td>
                <td>•&emsp;Database</td>
            </tr>
            <tr>
                <td>•&emsp;Medical Robotic</td>
            </tr>
 		</tbody>
 	</table>
    <hr>
    <span style="color: rgb(121, 75, 75)"><h2>Projects</h2></span>
    <p>
    <strong>Finished academic C++ projects:</strong> Waiting Customer Simulation, Core Scheduling, the Battleship game, Hangman game.
    <br>
    &emsp; o&ensp;<u><i>Medical Robotics project:</i></u> A drone that can locate a suspected person and follow it.
    <br>
    &emsp;&emsp;§&ensp;My role: Build and develop functions for the drone so it can collect data from its camera and sensor such as eyes, nose, and location of the person, then report it to the database. 
    <br>
    &emsp;o&ensp;<u><i>E-commerce Company Web Application in Software Engineering.</i></u>
    <br>
     &emsp;&emsp;§&ensp;My role: develop the coding for backend, design, and connect database using C# Asp.net core framework.
    <br>
    &emsp;o&ensp;<u><i>Software Application Predict the Fuel Rate in Software Design.</i></u>
    <br>
     &emsp;&emsp;§&ensp;My role: develop the coding for backend, design, and connect database using PHP Laravel framework.
    <br>
    <strong>Independent project:</strong>  Full-Stack User Account Management using PHP.
    <br>
    &emsp;&emsp;§&ensp;Completed a web application to manage user account information such as full name, date of birth, auto secured id number, username, encrypted password, email, and connect to database.
    <hr>
    <span style="color: rgb(121, 75, 75)"><h2>Skill</h2></span>
    <p>
    <strong>Programming languages:</strong>	HTML, CSS, SQL, JAVASCRIPT, Python, PHP, Laravel, C++, C#, Python, R
    <br>
    <strong>Frameworks & Libraries:</strong> Laravel, ASP.NET MVC, Bootstrap, jQuery
    <br>
    <strong>Tools:</strong> Unix/Linux terminals, SVN version control
    </p>
    </span>
    </div>
</body>
</html>
